<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="bbs" class="com.minis.test.BaseBaseService" init-method="init"> 
	    <property type="com.minis.test.AServiceImpl" name="as" ref="aservice"/>
	</bean>
	<bean id="aservice" class="com.minis.test.AServiceImpl"> 
		<constructor-arg type="String" name="name" value="abc"/>
		<constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
        <property type="com.minis.test.BaseService" name="ref1" ref="baseservice"/>
	</bean>
	<bean id="baseservice" class="com.minis.test.BaseService" init-method="init"> 
	</bean>

	
</beans>